.buy-sell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .card {
    background: #fff;
    padding: 1rem;
    border-radius: 1rem;

    img {
      width: 42px;
    }
    p {
      color: #4c5968;
      font-weight: 500;
    }
  }
  @media only screen and (max-width: 600px) {
    padding-bottom: 0.5rem;
  }
}
