#root {
  display: flex;
  flex-direction: column;
  max-width: 460px; //100vw
  height: 100vh;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
  font-weight: normal;
  background-color: #f5f7fa;
}
